.container-item-detail {
    background-color: #ffffff;
    margin: 20px 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.row-item-detail {
    margin: 30px;
}

.card-item-detail {
    width: 100%;
    margin: 0;
}

.card-title-item-detail {
    font-size: 1.8rem;
}

.card-text-item-detail {
    font-size: 1.3rem;
}

.row-item-detail-descripcion {
    display: flex;
    justify-content: center;
}

.imagen-item-detail-descripcion {
    max-width: 700px;
}

.container-boton-grup {
    height: 40px;
    justify-content: flex-start;
    align-items: center;
}

.fa-minus, .fa-plus {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px 2px;
    cursor: pointer;
}

.btn-item-detail {
    background-color: #E3B5B5;
    color: black;
}

.btn-item-detail:hover {
    background-color: #D28989;
}