.container-item-detail {
    background-color: #ffffff;
    margin: 20px 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-item-detail {
    width: 100%;
    margin: 0;
}

.card-title-item-detail {
    font-size: 1.8rem;
}

.card-text-item-detail {
    font-size: 1.3rem;
}