.row-item-detail {
    margin: 30px;
}

.card-item-detail {
    width: 100%;
    margin: 0;
}

.card-title-item-detail {
    font-size: 1.8rem;
}

.card-text-item-detail {
    font-size: 1.3rem;
}

.row-item-detail-descripcion {
    display: flex;
    justify-content: center;
}

.imagen-item-detail-descripcion {
    max-width: 700px;
}

.container-boton-grup {
    height: 40px;
    justify-content: flex-start;
    align-items: center;
}

.fa-minus, .fa-plus {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px 2px;
    cursor: pointer;
}