.container-checkout {
    background-color: #ffffff;
    margin: 20px 50px 30px 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}