.container-alert-checkout {
    padding: 200px 0;
}

@media only screen and (max-width: 600px) {
    .col-checkout {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .col-checkout {
        margin-top: 20px;
    }
}