.navbar {
    margin: 0px 50px;
}

.nav-link {
    cursor: pointer;
}

.fa-cart-shopping {
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

.contador-elementos-carrito {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
    top: -4px;
    right: 1px;
    background-color: #E3B5B5;
    color: white;
    border-radius: 100%;
    font-size: 13px;
}

.container-custom {
    margin: 0px 50px 40px 50px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px;
}

.boton-custom {
    background-color: #E3B5B5;
}

.boton-custom:hover {
    background-color: #D28989;
}

/* Nuevo (container y productos nuevos) */

.container-titulo-nuevos-productos {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.titulo-nuevo {
    margin-left: 50px;
}

.titulo-ver-todo {
    cursor: pointer;
    font-weight: 100;
    color: black;
}

.imagen-nuevos-productos {
    width: 60px;
    border-radius: 100%;
}

.container-nuevos-productos {
    display: flex;
    flex-direction: column;
}

.container-cards-nuevos-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-nuevos-productos {
    display: flex;
    justify-content: center;
}

.card {
    width: 30%;
    margin: 0 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: none;
    border: none;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 15px;
    flex: 1;
}

.card-body {
    text-align: left;
    flex: 0.3;
}

.card-body-nuevos-productos {
    padding: 15px 15px 15px 1px;
}

.card-text {
    margin: 0;
    text-align: left;
}

/* Item List Container */

a {
    text-decoration: none;
}

.col-item-list-container {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.footer {
    position: absolute;
    bottom: 0;
}

.autor {
    text-decoration: none;
    color: white;
}

/* Queries */

@media only screen and (max-width: 600px) {
    .navbar {
        margin: 0;
    }

    .container-custom {
        margin: 10px;
    }

    .container-artistas-recomendados {
        margin: 0;
        /* REVISAR ESTE QUE NO ANDA */
    }

    .titulo-nuevo {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 768px) {

    .navbar {
        margin: 0;
    }
    
    .container-nuevo {
        margin: 10px;
    }
}