.navbar{
    margin: 0px 50px;
}

.fa-cart-shopping {
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

.contador-elementos-carrito {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
    top: -4px;
    right: 1px;
    background-color: rgb(8, 204, 202);
    color: white;
    border-radius: 100%;
    font-size: 13px;
}

.item-list-container {
    background-color: #ffffff;
    margin: 0 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Nuevo (container y productos nuevos) */

.container-titulo-nuevos-productos {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.titulo-nuevo {
    margin-left: 50px;
}

.imagen-nuevos-productos {
    width: 60px;
    border-radius: 100%;
}

.container-nuevo {
    /* display: flex; */
    margin: 0 50px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px;
}

.container-nuevos-productos {
    display: flex;
    flex-direction: column;
}

.container-cards-nuevos-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 30%;
    margin: 0 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: none;
    border: none;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 15px;
    flex: 1; /* Hace que la imagen ocupe más espacio */
}

.card-body {
    padding: 15px;
    text-align: left;
    flex: 0.3; /* Hace que el texto ocupe menos espacio */
}

.card-text {
    margin: 0;
    text-align: left;
}